{% extends "template.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            {% if post.author.image_file != 'default.png' %}
                <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_img/' + post.author.id|string + '/' + post.author.image_file)}}">
            {% else %}
                <img class="rounded-circle article-img" src="{{'static\\profile_img\\default.png'}}">
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{post.author.username}}</a>
                    <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
                </div>
                <h2 class="article-title" ><a href='{{url_for('post', post_id=post.id)}}'>{{post.title}}</a></h2>
                <p class="article-content">{{post.content}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}

